
.email {
    color: var(--secondary);
    writing-mode: vertical-lr;
    position: fixed;
    top: 360px;
    left: 19px;
    font-size: 12px;
}

.left-line {
    border-left: 2px solid white;
    height: 550px;
    position: fixed;
    top: 550px;
    left: 24px
    
}

.right-line {
    border-left: 2px solid white;
    height: 550px;
    position: fixed;
    top: 550px;
    right: 24px
    
}

.socials {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    position: fixed;
    gap: 20px;
    font-size: 20px;
    top: 380px;
    right: 16px;
}

.socials a{
    color: var(--secondary);
}
