.toggle {
    position: fixed;
    color: var(--secondary);
    margin-top: 200px;
    transform: rotate(0.25turn);
    margin-right: 10px;
    left: 3px;
}

.toggle-mode {
    color: var(--secondary);
    position: fixed;
    margin-top: 200px;
    font-size: 12px;
    left: -20px;
    transform: rotate(0.25turn);
}